ai-image-gen.json
{
    "id": "5",
    "name": "AI 이미지 생성",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ai-image-generate",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "ai-image-webhook",
            "name": "AI Image Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                200,
                300
            ],
            "webhookId": "ai-image-generate"
        },
        {
            "parameters": {
                "jsCode": "__AI_IMAGE_BUILD_PROMPT_CODE__"
            },
            "id": "ai-image-build-prompt",
            "name": "프리셋 변환",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "__AI_IMAGE_WOL_HEALTH_CODE__"
            },
            "id": "wol-health",
            "name": "헬스체크",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": ""
                    },
                    "conditions": [
                        {
                            "id": "pc-online-check",
                            "leftValue": "={{ $json.pcOnline }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-pc-online",
            "name": "PC 상태 분기",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                920,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $('프리셋 변환').first().json.comfyBase + '/prompt' }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ prompt: $('프리셋 변환').first().json.comfyPrompt }) }}",
                "options": {
                    "timeout": 10000
                }
            },
            "id": "comfyui-queue-sync",
            "name": "ComfyUI 큐잉 (동기)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1200,
                200
            ]
        },
        {
            "parameters": {
                "jsCode": "__AI_IMAGE_POLL_CODE__"
            },
            "id": "ai-image-poll-sync",
            "name": "폴링 & 저장 (동기)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1440,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {
                    "responseCode": 200
                }
            },
            "id": "respond-200",
            "name": "Respond 200",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1680,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ status: 'accepted', message: 'PC 기동 중 — 완료 시 callback_url로 결과 전송', callback_url: $json.callback_url || null, warning: $json.callback_url ? undefined : 'callback_url 미제공 — 결과는 이미지 서버에서 확인' }) }}",
                "options": {
                    "responseCode": 202
                }
            },
            "id": "respond-202",
            "name": "Respond 202",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1200,
                500
            ]
        },
        {
            "parameters": {
                "jsCode": "__AI_IMAGE_WOL_WAKE_CODE__"
            },
            "id": "wol-wake",
            "name": "WoL Wake",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1440,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $('프리셋 변환').first().json.comfyBase + '/prompt' }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ prompt: $('프리셋 변환').first().json.comfyPrompt }) }}",
                "options": {
                    "timeout": 10000
                }
            },
            "id": "comfyui-queue-async",
            "name": "ComfyUI 큐잉 (비동기)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1680,
                500
            ]
        },
        {
            "parameters": {
                "jsCode": "__AI_IMAGE_POLL_CODE__"
            },
            "id": "ai-image-poll-async",
            "name": "폴링 & 저장 (비동기)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1920,
                500
            ]
        },
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "ai-image/:filename",
                "options": {
                    "responseMode": "lastNode"
                }
            },
            "id": "image-serve-webhook",
            "name": "이미지 서빙 Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                200,
                700
            ],
            "webhookId": "ai-image"
        },
        {
            "parameters": {
                "jsCode": "__AI_IMAGE_SERVE_CODE__"
            },
            "id": "serve-image",
            "name": "이미지 응답",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                700
            ]
        }
    ],
    "connections": {
        "AI Image Webhook": {
            "main": [
                [
                    {
                        "node": "프리셋 변환",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "프리셋 변환": {
            "main": [
                [
                    {
                        "node": "헬스체크",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "헬스체크": {
            "main": [
                [
                    {
                        "node": "PC 상태 분기",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PC 상태 분기": {
            "main": [
                [
                    {
                        "node": "ComfyUI 큐잉 (동기)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond 202",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "ComfyUI 큐잉 (동기)": {
            "main": [
                [
                    {
                        "node": "폴링 & 저장 (동기)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "폴링 & 저장 (동기)": {
            "main": [
                [
                    {
                        "node": "Respond 200",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond 202": {
            "main": [
                [
                    {
                        "node": "WoL Wake",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WoL Wake": {
            "main": [
                [
                    {
                        "node": "ComfyUI 큐잉 (비동기)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "ComfyUI 큐잉 (비동기)": {
            "main": [
                [
                    {
                        "node": "폴링 & 저장 (비동기)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "이미지 서빙 Webhook": {
            "main": [
                [
                    {
                        "node": "이미지 응답",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "ai-image"
        },
        {
            "name": "comfyui"
        },
        {
            "name": "image"
        }
    ]
}